name: Release

on:
  release:
    types: [ published ]

permissions:
  contents: write

jobs:
  build:
    name: Build
    uses: ./.github/workflows/build.yml

  release:
    name: Release
    needs: [build]
    runs-on: ubuntu-24.04
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          path: artifacts

      - name: Upload release artifacts
        uses: softprops/action-gh-release@v2
        with:
          files: |
            artifacts/one-nrf9160dk-nrf9160-ns/**
