name: Release

on:
  release:
    types: [ published ]

permissions:
  contents: write

jobs:
  build:
    name: Release
    uses: ./.github/workflows/build.yml

  release:
    - name: Download artifacts
      uses: actions/download-artifact@v4
      with:
        path: artifacts

    - name: Upload release artifacts
      uses: softprops/action-gh-release@v2
      with:
        files: |
          artifacts/*
